:root {
  --bedroom1-color: #c4e91e;
  --bedroom2-color: #ff009d;
  --livingroom-color: #c3a34a;
  --bathroom-color: #2703f4;
  --kitchen-color: #d41900;
}

.room-view > .mdl-card__title {
  color: #fff;
  text-transform: capitalize;
}

.bedroom1-card > .mdl-card__title {
  background: var(--bedroom1-color);
}
.bedroom2-card > .mdl-card__title {
  background: var(--bedroom2-color);
}
.livingroom-card > .mdl-card__title {
  background: var(--livingroom-color);
}
.bathroom-card > .mdl-card__title {
  background: var(--bathroom-color);
}
.kitchen-card > .mdl-card__title {
  background: var(--kitchen-color);
}

.page-content {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
